<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RegisterPackage.My.MySettings.DBxConnectionString" connectionString="Data Source=172.16.0.102;Initial Catalog=DBx;User ID=dbxuser" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
