<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WBWIP_CancelLot.My.MySettings.DBxConnectionString" connectionString="Data Source=172.16.0.102;Initial Catalog=DBx;User ID=dbxuser" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
